<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'votaciones/login.css' %}" />
    <title>Iniciar sesión</title>
  </head>

  <body>
    <div class="login-container">
      <h2>Acceso a la encuesta</h2>
      <p class="test-info">
        Usuario de prueba: <strong>test</strong> | Contraseña:
        <strong>test00077462</strong>
      </p>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Iniciar sesión</button>
      </form>
      {% if form.errors %}
      <p class="error-msg">⚠️ Usuario o contraseña incorrectos</p>
      {% endif %}
    </div>
  </body>
</html>
